        <tr>
            <td><%= project[:name] %></td>
            <td><%= project[:source] %></td>
            <td><a href="<%= project[:url] %>" target="_blank"><%= project[:url] %></a></td>
            <td>
              <% if project[:latest_release_tag] %>
                <a href="<%= project[:latest_release_url] %>" target="_blank"><%= project[:latest_release_tag] %></a>
                <div style="font-size: 0.85em; color: #666;"><%= project[:latest_release_published_at]%> <br> <b>Last checked:</b> <%= project[:last_checked_at] || "Never" %>
                </div>
              <% else %>
              <em>Not fetched</em>
              <% end %>
            </td>

            <td>
               
                <form action="/projects/<%= project[:id] %>/refresh" method="post" style="display:inline;">
                  <button type="submit">Refresh</button>
                </form>
              

              <form action="/projects/<%= project[:id] %>" method="post" style="display: inline;">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="button-danger" onclick="return confirm('Delete?')">Delete</button>
              </form>
            </td>
        </tr>